@page
@model OdeToFoodWebApp.Pages.Restaurants.ListModel
@{
}


    <h1>Restaurants</h1>

    <form  method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" name="term" class="form-control" asp-for="Term" />
                <span class="input-group-btn">
                    <button class="btn btn-dark" type="submit">Search</button>
                </span>
            </div>
        </div>
    </form>

    <div>
        <table class="table">
            @foreach (var item in Model.Restaurants)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Location</td>
                    <td>@item.Cuisine</td>
                    <td><a asp-page="./Details" asp-route-restaurantId="@item.Id" class="btn btn-outline-primary">Details</a></td>
                    <td><a asp-page="./Edit" asp-route-restaurantId="@item.Id" class="btn btn-outline-primary">Edit</a></td>
                </tr>
            }
        </table>
    </div>